@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

body {
  background-color: #ff9b9b; }

header {
  height: 100px;
  background-image: url(../multimedia/img/textiles-ropa-678x381-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.titulo-main {
  color: #006de9;
  font-family: 'Roboto', sans-serif;
  font-size: 5em;
  font-weight: 700;
  text-align: center; }

.contenedor-titulo {
  height: 100px; }

.contenedor-titulo h2 {
  height: 100px; }

.multimedia {
  padding-top: 50px; }

.titulo-secundario {
  height: 100px;
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  font-weight: 700;
  text-align: center; }

.contenedor-flex {
  padding-top: 50px; }

section div p {
  font-family: 'Roboto', sans-serif;
  font-weight: 700; }

.tabla {
  margin: 50px 10px;
  padding: 25px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }

.footer {
  background-color: #b4dafc;
  padding: 5px 25px; }

footer div {
  text-align: center;
  font-weight: 300; }

footer ul li {
  list-style-type: none; }

footer ul li a {
  color: #5867f1; }

/*=====================*/
/*--flexbox--*/
/*=====================*/
section div {
  padding: 20px; }

.contenedor-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; }

.flex-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: baseline; }

.footer {
  height: 100px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  align-items: baseline; }

/*=====================*/
/*--GRID--*/
/*=====================*/
.grid-container {
  display: grid;
  grid-template-rows: 1, 1fr;
  grid-template-columns: 1, auto;
  grid-template-areas: "header" "main" "subtitulo" "section" "footer"; }

.header {
  grid-area: header; }

.principal {
  grid-area: main; }

.subtitulo {
  grid-area: subtitulo; }

.tabla {
  grid-area: section; }

.footer {
  grid-area: footer; }

@media screen and (min-width: 375px) {
  .grid-container {
    grid-template-columns: repeat(2, auto);
    grid-template-areas: "header header" "main main" "subtitulo subtitulo" "section section" "footer footer"; } }

@media screen and (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(3, auto);
    grid-template-areas: "header header header" "main main main" "subtitulo subtitulo subtitulo" "section section section" "footer footer footer"; } }

/*=====================*/
/*--ANIMACIONES--*/
/*=====================*/
.subtitulo {
  animation-name: promoción;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  animation-delay: 1s; }

@keyframes promoción {
  50% {
    height: 50px;
    background-color: #ee6e6e; }
  100% {
    height: 100px;
    background-color: #ee6e6e; } }

.tabla tr:hover {
  background-color: #ee6e6e; }
